<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/navbar') %>
    
        <h1><%= title %></h1>
    
        <% if (msg) { %>
            <p><%= msg %></p>
        <% } %>
    
        <form action="/api/add-reinsdyr" method="POST">
            <label for="serienummer">Serienummer:</label>
            <input type="text" id="serienummer" name="serienummer" required>
    
            <label for="navn">Navn:</label>
            <input type="text" id="navn" name="navn">
    
            <label for="fodselsdato">Fødselsdato:</label>
            <input type="date" id="fodselsdato" name="fodselsdato">
    
            <label for="flokk">Velg flokk:</label>
            <select id="flokk" name="flokk" multiple required>
                <% flokker.forEach(flokk => { %>
                    <option value="<%= flokk._id %>"><%= flokk.navnPaFlokken %></option>
                <% }) %>
            </select>
    
            <button type="submit">Registrer reinsdyr</button>
        </form>
    </body>
</html>