<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <h1><%= flokk.navnPaFlokken %></h1>

    <h2>Reinsdyr</h2>

    <% if (flokk.reinsdyr.length === 0) { %>
        <p>Ingen reinsdyr i denne flokken.</p>
    <% } else { %>
        <ul class="reinsdyr-list">
            <% flokk.reinsdyr.forEach(reinsdyr => { %>
                <li>
                    Serienummer: <%= reinsdyr.serienummer %><br>
                    Navn: <%= reinsdyr.navn %><br>
                    Fødselsdato: <%= reinsdyr.fodselsdato.toLocaleDateString() %>
                </li>
            <% }); %>
        </ul>

        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/flokk/<%= flokk._id %>?page=<%= currentPage - 1 %>">Forrige</a>
            <% } %>

            <% for (let i = 1; i <= totalPages; i++) { %>
                <a 
                    href="/flokk/<%= flokk._id %>?page=<%= i %>" 
                    class="<%= i === currentPage ? 'active' : '' %>"
                >
                    <%= i %>
                </a>
            <% } %>

            <% if (currentPage < totalPages) { %>
                <a href="/flokk/<%= flokk._id %>?page=<%= currentPage + 1 %>">Neste</a>
            <% } %>
        </div>
    <% } %>

</body>
</html>